@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter_28pt-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}


html, body {
  font-family: 'Inter', sans-serif;
}


html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
